.dropDownItem {
  text-align: left;
  background-color: var(--lightCream);
  border: none;
  border-radius: var(--border-px);
  padding: 1em;
}

.buttonTitle {
  font-family: var(--title-font);
  color: var(--darkBlue);
}

.buttonText {
  font-family: var(--body-font);
  color: var(--darkBlue);
}
