.selectionItem {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.selectionButton {
  border: none;
  text-align: left;
  background-color: var(--lightCream);
  font-family: var(--title-font);
  font-weight: 900;
  font-size: var(--h4-font-size);
  line-height: 28px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 1.5em 0em;
  gap: 1em;
}
.selectionButtonText {
  color: var(--Grey);
}
