.wrapper {
  display: flex;
  flex-direction: column;
  margin-inline: 1.5em;
  gap: 4.5em;
}

/* Tablet portrait and larger */
@media only screen and (min-width: 600px) {
  .wrapper {
    gap: 6.5em;
  }
}
/* Tablet landscape and larger */
@media only screen and (min-width: 900px) {
}
/* Desktop and larger */
@media only screen and (min-width: 1200px) {
}
/* Big desktop (4k) */
@media only screen and (min-width: 2500px) {
}
