/*Hero Section*/

.aboutUsHeroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--lightCream);
  background-image: url("../assets/about/mobile/image-hero-whitecup.jpg");
  background-size: cover;
  padding: 6.25em 1.5em;
  border-radius: 10px;
  gap: 2em;
}

.aboutUsHeroTitle {
  font-size: var(--semi-lg-font-size);
  line-height: 2.5rem;
}

.aboutUsHeroText {
  line-height: 25px;
  opacity: 0.8;
  mix-blend-mode: normal;
}

/* Our commitment section */

.ourCommitmentContainer {
  display: grid;
  margin-top: 6.5em;
  gap: 2em;
  text-align: center;
}

.ourCommitmentTitle {
  font-size: var(--lg-font-size);
}

.ourCommitmentImage {
  border-radius: var(--border-px);
}

/* Quality container */

.qualityContainer {
  display: grid;
  text-align: center;
  gap: 2em;
  padding: 7.25em 1.5em 3.25em 1.5em;
  margin-top: 9.5em;
  background-color: var(--darkBlue);
  color: var(--lightCream);
  border-radius: var(--border-px);
}

.qualityTitle {
  font-size: var(--semi-lg-font-size);
}

.qualityImageWrapper {
  position: relative;
}

.qualityImage {
  position: absolute;
  border-radius: 15px;
  padding: 0.5em;
  bottom: 1em;
}

/* Our Headquarters section*/

.hqContainer {
  display: grid;
  gap: 2em;
  margin-top: 7.5em;
  margin-bottom: 6em;
  text-align: center;
  justify-items: center;
}

.countryWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 1em;
}

.countryTitle {
  font-size: var(--semi-lg-font-size);
}

.mapImages {
  padding: 0.5em;
}

.hqTitle {
  color: var(--Grey);
}

/* Tablet portrait and larger */
@media only screen and (min-width: 600px) {
}
/* Tablet landscape and larger */
@media only screen and (min-width: 900px) {
}
/* Desktop and larger */
@media only screen and (min-width: 1200px) {
  .aboutUsHeroContainer {
    background-image: url("../assets/about/desktop/image-hero-whitecup.jpg");
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
    justify-items: start;
    text-align: left;
    padding: 8.5em 5.3em;
  }

  .aboutUsHeroText {
    grid-row: 2/3;
  }

  .aboutUsHeroTitle {
    font-size: var(--xl-font-size);
  }

  .ourCommitmentContainer {
    padding: 10em 0em;
    margin: 0;
    align-items: center;
    text-align: left;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 0;
  }

  .ourCommitmentImage {
    grid-row: 1/3;
  }

  .ourCommitmentContent {
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding-right: 8em;
  }

  .qualityContainer {
    grid: auto/ 1fr 1fr;
    padding: 0em 0em 7.2em 0em;
    gap: 0;
    margin-top: 5em;
  }

  .qualityContentWrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1em;
    padding: 5em;
  }

  .qualityImageWrapper {
    grid-column: 2/3;
  }

  .qualityImage {
    bottom: -25em;
    right: 6em;
  }

  .qualityTitle {
    font-size: var(--xl-font-size);
  }

  .hqContainer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0fr 1fr;
    justify-items: start;
    align-items: center;
    text-align: left;
    padding: 4em 5em 4em 5em;
    row-gap: 4em;
    column-gap: 0;
  }

  .hqTitle {
    grid-column: 1/-1;
  }

  .countryWrapper {
    padding: 0;
    align-items: flex-start;
  }
}
/* Big desktop (4k) */
@media only screen and (min-width: 1800px) {
  .qualityImage {
    bottom: -25em;
    right: 12em;
  }
}
