/*Hero Section*/

.aboutUsHeroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--lightCream);
  background-image: url("../assets/about/mobile/image-hero-whitecup.jpg");
  background-size: cover;
  padding: 6.25em 1.5em;
  border-radius: 10px;
  gap: 2em;
}

.aboutUsHeroTitle {
  font-size: var(--semi-lg-font-size);
  line-height: 2.5rem;
}

.aboutUsHeroText {
  font-size: 0.9rem;
  line-height: 25px;
  opacity: 0.8;
  mix-blend-mode: normal;
}

/* Our commitment section */

.ourCommitmentContainer {
  display: grid;
  margin-top: 6.5em;
  gap: 2em;
  text-align: center;
}

.ourCommitmentTitle {
  font-size: var(--lg-font-size);
}

.ourCommitmentImage {
  border-radius: var(--border-px);
}

/* Quality container */

.qualityContainer {
  display: grid;
  text-align: center;
  gap: 2em;
  padding: 7.25em 1.5em 3.25em 1.5em;
  margin-top: 9.5em;
  background-color: var(--darkBlue);
  color: var(--lightCream);
  border-radius: var(--border-px);
}

.qualityTitle {
  font-size: var(--semi-lg-font-size);
}

.imageWrapper {
  position: relative;
}

.qualityImage {
  position: absolute;
  border-radius: 15px;
  padding: 0.5em;
  bottom: 1em;
}

/* Our Headquarters section*/

.hqContainer {
  display: grid;
  gap: 2em;
  margin-top: 7.5em;
  margin-bottom: 6em;
  text-align: center;
  justify-items: center;
}

.countryWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 1em;
}

.countryTitle {
  font-size: var(--semi-lg-font-size);
}

.mapImages {
  padding: 0.5em;
}

.hqTitle {
  color: var(--Grey);
}

/* Tablet portrait and larger */
@media only screen and (min-width: 600px) {
}
/* Tablet landscape and larger */
@media only screen and (min-width: 900px) {
}
/* Desktop and larger */
@media only screen and (min-width: 1200px) {
  .aboutUsHeroContainer {
    display: flex;
    background-image: url("../assets/about/desktop/image-hero-whitecup.jpg");
  }
}
/* Big desktop (4k) */
@media only screen and (min-width: 2500px) {
}
