/*hero section*/

.coffeeHeroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--lightCream);
  background-image: url("../assets/coffee/coffee.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 6.25em 1.5em;
  border-radius: 10px;
  gap: 2em;
}

.coffeeHeroTitle {
  font-size: var(--semi-lg-font-size);
  line-height: 2.5rem;
}

.coffeeHeroText {
  line-height: 25px;
  opacity: 0.8;
  mix-blend-mode: normal;
}

/* coffee list section*/

.coffeeListContainer {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-bottom: 4em;
}

.coffeeList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.coffeeListTitle {
  text-align: center;
}

/* Tablet portrait and larger */
@media only screen and (min-width: 600px) {
  .coffeeHeroContainer {
    display: grid;
    grid-template-columns: 0.5fr;
    grid-template-rows: 1fr;
    gap: 1em;
    justify-items: start;
    text-align: left;
    padding: 5em;
  }

  .coffeeHeroTitle {
    font-size: var(--semi-xxl-font-size);
    line-height: 3rem;
  }

  .coffeeListTitle {
    font-size: var(--xl-font-size);
    text-align: left;
  }

  .coffeeText {
    grid-row: 2/3;
  }

  .coffeeListContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4em;
    margin: 0em 5em;
    margin-bottom: 7em;
  }

  .coffeeList {
    display: grid;
  }

  .aboutUsHeroTitle {
    font-size: var(--lg-font-size);
  }
}
/* Tablet landscape and larger */
@media only screen and (min-width: 900px) {
  .aboutUsHeroTitle {
    font-size: var(--xl-font-size);
  }

  .coffeeHeroContainer {
    padding: 7em;
  }
}
/* Desktop and larger */
@media only screen and (min-width: 1200px) {
}
/* Big desktop (4k) */
@media only screen and (min-width: 1800px) {
}
