/*hero section*/

.coffeeHeroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--lightCream);
  background-image: url("../assets/coffee/coffee.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 6.25em 1.5em;
  border-radius: 10px;
  gap: 2em;
}

.coffeeTitle {
  font-size: var(--semi-lg-font-size);
  line-height: 2.5rem;
}

.coffeeText {
  line-height: 25px;
  opacity: 0.8;
  mix-blend-mode: normal;
}

.coffeeList {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Tablet portrait and larger */
@media only screen and (min-width: 600px) {
  /*Hero Section*/
  .coffeeHeroContainer {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    gap: 1em;
    padding-left: 5em;
  }

  .coffeeText {
    grid-column: 1/2;
  }
}
/* Tablet landscape and larger */
@media only screen and (min-width: 900px) {
}
/* Desktop and larger */
@media only screen and (min-width: 1200px) {
  .coffeeHeroContainer {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
    justify-items: start;
    text-align: left;
    padding: 8.5em 5.3em;
  }

  .coffeeText {
    grid-row: 2/3;
  }

  .aboutUsHeroTitle {
    font-size: var(--xl-font-size);
  }
}
/* Big desktop (4k) */
@media only screen and (min-width: 1800px) {
}
