.coffee {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  text-align: center;
}

.description {
  font-weight: initial;
}

.coffeeImages {
  max-width: 100%;
  border-radius: var(--border-px);
}

/* Tablet portrait and larger */
@media only screen and (min-width: 600px) {
}
/* Tablet landscape and larger */
@media only screen and (min-width: 900px) {
}
/* Desktop and larger */
@media only screen and (min-width: 1200px) {
  .coffeeImages {
    max-width: 40%;
    border-radius: var(--border-px);
  }
}
/* Big desktop (4k) */
@media only screen and (min-width: 1800px) {
}
