.homeHeroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--lightCream);
  background-image: url('../assets/home/mobile/image-hero-coffeepress.jpg');
  background-size: cover;
  padding: 6.25em 1.5em;
  margin: 1.5em;
  border-radius: 10px;
  gap: 2em;
}

.homeHeroTitle {
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.homeHeroText {
  font-size: 0.9rem;
  line-height: 25px;
  opacity: 0.8;
  mix-blend-mode: normal;
}

/* Our Collection Section */

.collectionContainer {
  display: grid;
  padding: 1em 2.5em;
  gap: 3em;
  text-align: center;
}

.collectionContainerTitle {
  font-size: 2.5rem;
  background: linear-gradient(
    360deg,
    rgba(254, 252, 247, 0.0001) 0%,
    var(--Grey) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.collectionItem {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.collectionImage {
  max-width: 69%;
  margin: auto;
}

/* Why Choose Us? Section*/

.whyUs {
  position: relative;
  color: var(--lightCream);
  margin: 1.5em;
  height: 190vh;
}

.whyUsBgContainer {
  background-color: var(--darkBlue);
  border-radius: 10px;
  height: 60%;
}

.whyUsTitle {
  font-size: 1.75rem;
  padding-bottom: 0.5em;
}

.whyUsContainer {
  background-color: var(--darkGreyBlue);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  padding: 4em 1.5em 2.5em 1.5em;
}

.whyUsFeaturesContainer {
  display: flex;
  position: absolute;
  bottom: 39em;
  height: 40%;
  flex-direction: column;
  gap: 2em;
  margin: 2.5em 1.5em 1.5em 1.5em;
}

.featuresItem {
  background-color: var(--darkCyan);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1em;
  padding: 2.5em;
  border-radius: 8px;
}

.featuresImage {
  padding: 3em;
}

/* How it Works Section*/

.howItWorks {
  display: grid;
  justify-items: center;
  margin: 7.5em 1.5em;
  text-align: center;
  gap: 2.5em;
}

.howItWorksTitle {
  color: var(--Grey);
  font-size: 1.5rem;
}

.steps {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
}

.stepTitle {
  font-size: 4.5rem;
  color: var(--paleOrange);
}
