/* our commitment section*/

.homeHeroContainer {
  color: var(--lightCream);
  background-image: url("../assets/home/mobile/image-hero-coffeepress.jpg");
  background-size: cover;
  padding: 6.25em 1.5em;
  margin-left: 1.5em;
  margin-right: 1.5em;
  border-radius: var(--border-px);
}

.heroWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2em;
}

.homeHeroTitle {
  font-size: var(--xl-font-size);
  line-height: 2.5rem;
}

.homeHeroText {
  line-height: 25px;
  opacity: 0.8;
  mix-blend-mode: normal;
}

/* our collection section */

.collectionContainer {
  display: grid;
  margin: 6.5em 1.5em;
  padding: 1em;
  gap: 3em;
  text-align: center;
}

.collectionContainerTitle {
  font-size: var(--xl-font-size);
  background: linear-gradient(
    360deg,
    rgba(254, 252, 247, 0.0001) 0%,
    var(--Grey) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.collectionItem {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.collectionImage {
  max-width: 69%;
  margin: auto;
}

/* why choose us? section*/

.whyUs {
  position: relative;
  color: var(--lightCream);
  margin: 1.5em;
  height: 190vh;
}

.whyUsBgContainer {
  background-color: var(--darkBlue);
  border-radius: var(--border-px);
  height: 60%;
}

.whyUsTitle {
  font-size: 1.75rem;
  padding-bottom: 0.5em;
}

.whyUsContainer {
  background-color: var(--darkGreyBlue);
  border-top-left-radius: var(--border-px);
  border-top-right-radius: var(--border-px);
  text-align: center;
  padding: 4em 1.5em 2.5em 1.5em;
}

.whyUsFeaturesContainer {
  display: flex;
  position: absolute;
  bottom: 38em;
  height: 40%;
  flex-direction: column;
  gap: 2em;
  margin: 2.5em 1.5em 1.5em 1.5em;
}

.featuresItem {
  background-color: var(--darkCyan);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1em;
  padding: 2.5em;
  border-radius: var(--border-px);
}

.featuresImage {
  padding: 3em;
}

/* how it works section*/

.howItWorks {
  display: grid;
  justify-items: center;
  margin: 6.5em 1.5em;
  text-align: center;
  gap: 2.5em;
}

.howItWorksTitle {
  color: var(--Grey);
  font-size: var(--md-font-size);
}

.steps {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
}

.stepNumber {
  font-size: var(--xxl-font-size);
  color: var(--paleOrange);
}

/* Tablet portrait and larger */
@media only screen and (min-width: 600px) {
  /*Hero Section */
  .homeHeroContainer {
    display: flex;
    background: url("../assets/home/tablet/image-hero-coffeepress.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 1.5em;
    margin-right: 1.5em;
    padding: 6.5em 14.5em 6.5em 3.5em;
  }

  .heroWrapper {
    display: flex;
    align-items: flex-start;
    text-align: left;
  }

  /* Collection Section */

  .collectionContainer {
    position: relative;
    margin-top: 12em;
    margin-bottom: 12em;
  }

  .collectionContainerTitle {
    font-size: 8rem;
    z-index: -10;
    position: absolute;
    left: 0;
    right: 0;
    top: -0.8em;
  }

  .collectionItem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    gap: 0;
  }

  .collectionImage {
    grid-row: 1/3;
  }

  .collectionTitle {
    align-self: center;
  }

  /*Why Us Section*/

  .whyUs {
    height: 100vh;
  }

  .whyUsTitle {
    font-size: var(--lg-font-size);
  }

  .whyUsBgContainer {
    height: 55%;
  }

  .whyUsContainer {
    background-color: var(--darkBlue);
    padding: 5em;
  }

  .whyUsFeaturesContainer {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 15%;
    flex-direction: column;
    gap: 2em;
    margin: 4.5em;
  }

  .featuresItem {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 0;
    text-align: left;
    padding: 2em;
  }

  .featuresImage {
    grid-row: 1/3;
  }

  /*How It Works Section*/

  .howItWorks {
    align-items: center;
    justify-items: start;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.1fr 1fr 0.1fr;
    gap: 3em 0em;
    margin: 1.5em 3.5em 13.5em 3.5em;
  }

  .howItWorksTitle {
    grid-column: 1/-1;
  }

  .steps {
    position: relative;
    height: 100%;
    align-items: flex-start;
    text-align: left;
    gap: 3em;
    padding: 0em 2.5em 0em 0em;
    border-top: 1px solid var(--paleOrange);
  }

  .noTopBorder {
    border-top: none;
  }

  .circleEl {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid var(--darkCyan);
    border-radius: 50%;
    background: var(--lightCream);
    top: -1em;
  }

  .stepNumber {
    margin-top: 1em;
  }

  .stepTitle {
    font-size: var(--lg-font-size);
  }
}
/* Tablet landscape and larger */
@media only screen and (min-width: 900px) {
  .whyUs {
    height: 135vh;
  }
}
/* Desktop and larger */
@media only screen and (min-width: 1200px) {
  /* HERO SECTION */

  .homeHeroContainer {
    display: flex;
    margin: 0em 5em;
    padding: 0;
    align-items: center;
    background: url("../assets/home/desktop/image-hero-coffeepress.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .heroWrapper {
    display: flex;
    align-items: flex-start;
    text-align: left;
    padding: 5.3em 35em 5.3em 5.3em;
  }

  /*COLLECTION SECION */

  .collectionContainer {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    margin-left: 4em;
    margin-right: 4em;
    gap: 1em;
  }

  .collectionItem {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    gap: 2em;
  }

  .collectionContainerTitle {
    font-size: 9rem;
    z-index: -10;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1em;
  }

  /*WHY US SECTION*/

  .whyUs {
    height: auto;
    margin: 5em;
  }

  .whyUsContainer {
    height: 55vh;
    border-radius: var(--border-px);
  }

  .whyUsFeaturesContainer {
    flex-direction: row;
    height: 100%;
    margin: 1em 6em;
    top: 48%;
  }

  .whyUsTitle {
    font-size: var(--xl-font-size);
  }

  .featuresItem {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 2em;
  }

  .featuresImage {
    margin: auto;
  }

  /*HOW IT WORKS SECTION*/

  .howItWorks {
    margin: 25em 3.5em 8em 11em;
  }

  .steps {
    gap: 1em;
    padding: 0em 8em 0em 0em;
    border-top: 1px solid var(--paleOrange);
  }

  .noTopBorder {
    border-top: none;
  }

  .circleEl {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid var(--darkCyan);
    border-radius: 50%;
    background: var(--lightCream);
    top: -1em;
  }
}
/* Big desktop (4k) */
@media only screen and (min-width: 1800px) {
  .heroWrapper {
    padding: 5.3em 75em 5.3em 5.3em;
  }

  .collectionContainer {
    margin: 15.5em 15.5em 11.5em 15.5em;
  }

  .collectionContainerTitle {
    font-size: 12rem;
    bottom: 1.09em;
  }

  .whyUsFeaturesContainer {
    bottom: -10em;
  }

  .whyUsBgContainer {
    height: 56vh;
  }
}
