.registrationHero {
  background-image: url("../assets/registration/menu.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 4em;
  text-align: center;
  color: var(--lightCream);
  border-radius: var(--border-px);
  display: grid;
  grid-template-columns: 1fr;
}

/* Tablet portrait and larger */
@media only screen and (min-width: 600px) {
  .registrationHero {
    grid-template-columns: 0.5fr 1fr;
    padding: 6em;
    text-align: left;
  }

  .registrationHeroText {
    grid-column: 1/2;
  }
}
/* Tablet landscape and larger */
@media only screen and (min-width: 900px) {
}
/* Desktop and larger */
@media only screen and (min-width: 1200px) {
}
/* Big desktop (4k) */
@media only screen and (min-width: 1800px) {
}
