/*hero section*/

.createPlanHeroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--lightCream);
  background-image: url("../assets/plan/mobile/image-hero-blackcup.jpg");
  background-size: cover;
  padding: 8.25em 1.5em;
  margin: 1.5em;
  border-radius: 10px;
  gap: 2em;
}

.createPlanHeroTitle {
  font-size: var(--xl-font-size);
  line-height: 2.5rem;
}

.createPlanHeroText {
  line-height: 25px;
  opacity: 0.8;
  mix-blend-mode: normal;
}

/* plan steps section*/

.planStepsContainer {
  background-color: var(--darkBlue);
  color: var(--lightCream);
  border-radius: 10px;
  display: grid;
  justify-items: center;
  margin: 6.5em 0em;
  padding: 4.5em 2.5em;
  text-align: center;
  gap: 3.5em;
}

.planStepWrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.planStepTitle {
  font-size: var(--xxl-font-size);
  color: var(--paleOrange);
}

/*customize plan section*/

.customizePlanContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;
  margin: 6em 1.5em;
}

.planContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5em;
}

.planWrapper {
  display: flex;
  flex-direction: column;
  gap: 4.5em;
}

.sidebar {
  display: none;
}

/* Tablet portrait and larger */
@media only screen and (min-width: 600px) {
  /*Hero Section*/

  .createPlanHeroContainer {
    background-image: url("../assets/plan/tablet/image-hero-blackcup.jpg");
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    gap: 1em;
    padding-left: 5em;
  }

  .createPlanHeroText {
    grid-column: 1/2;
  }

  /*Plan Step Section*/

  .planStepsContainer {
    grid-template-columns: repeat(3, 1fr);
    text-align: left;
    gap: 0;
  }

  .planWrapper {
    align-self: flex-start;
  }

  .planStepWrapper {
    position: relative;
    justify-content: space-between;
    border-top: 1px solid var(--paleOrange);
    padding-right: 2em;
  }

  .circleEl {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid var(--darkCyan);
    border-radius: 50%;
    top: -1em;
    left: -0.9em;
  }

  .noTopBorder {
    border-top: none;
  }

  .planStepWrapper > h2 {
    font-size: var(--lg-font-size);
  }

  .planStepTitle {
    margin-top: 0.7em;
  }
}
/* Tablet landscape and larger */
@media only screen and (min-width: 900px) {
}
/* Desktop and larger */
@media only screen and (min-width: 1200px) {
  /*HERO SECTION*/

  .createPlanHeroContainer {
    background-image: url("../assets/plan/desktop/image-hero-blackcup.jpg");
    margin: 0em 5em;
    display: grid;
    grid-template-columns: 0.65fr 1fr;
    justify-items: start;
    text-align: left;
    padding-left: 5em;
  }

  .createPlanHeroText {
    grid-column: 1/2;
  }

  .createPlanHeroTitle {
    font-size: var(--xxl-font-size);
  }

  /* PLAN STEP SECTION*/

  .planStepsContainer {
    margin: 8em 5em;
    padding: 6.25em 8em 6.25em 6.25em;
  }

  .planStepWrapper {
    padding-right: 7em;
  }


  /*CUSTOMIZE PLAN SECTION*/

  .customizePlanContainer {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    align-items: start;
    gap: 0;
    margin: 6em 5.5em;
  }

  .sidebar {
    display: flex;
    justify-content: center;
    font-family: "Fraunces";
    color: var(--Grey);
  }

  .listItem {
    display: flex;
    color: var(--Grey);
    gap: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    opacity: 0.5;
    cursor: pointer;
  }

  .listOptions > li:not(:last-child) {
    border-bottom: 1px solid #83888f4f;
  }

  .listItem:hover,
  .listItem:active,
  .listItem:focus {
    opacity: 1;
  }

  .stepTitle {
    color: var(--darkGreyBlue);
  }

  .stepNumber:hover {
    color: var(--darkCyan);
  }
}
/* Big desktop (4k) */
@media only screen and (min-width: 1800px) {
}
