/*Hero Section*/

.createPlanHeroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--lightCream);
  background-image: url("../assets/plan/mobile/image-hero-blackcup.jpg");
  background-size: cover;
  padding: 8.25em 1.5em;
  margin: 1.5em;
  border-radius: 10px;
  gap: 2em;
}

.createPlanHeroTitle {
  font-size: var(--xl-font-size);
  line-height: 2.5rem;
}

.createPlanHeroText {
  line-height: 25px;
  opacity: 0.8;
  mix-blend-mode: normal;
}

/* Plan Steps Section*/

.planStepsContainer {
  background-color: var(--darkBlue);
  color: var(--lightCream);
  border-radius: 10px;
  display: grid;
  justify-items: center;
  margin: 6.5em 0em;
  padding: 4.5em 0em;
  text-align: center;
  gap: 2.5em;
}

.planStepWrapper {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  gap: 1em;
}

.planStepTitle {
  font-size: var(--xxl-font-size);
  color: var(--paleOrange);
}

/*Customize Plan Section*/

.customizePlanContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;
  margin: 6em 1.5em;
}

.planWrapper {
  display: flex;
  flex-direction: column;
  gap: 4.5em;
}

/* Tablet portrait and larger */
@media only screen and (min-width: 600px) {
}
/* Tablet landscape and larger */
@media only screen and (min-width: 900px) {
}
/* Desktop and larger */
@media only screen and (min-width: 1200px) {
  .createPlanHeroContainer {
    background-image: url("../assets/plan/desktop/image-hero-blackcup.jpg");
    margin: 0em 5em;
    display: grid;
    grid-template-columns: 0.65fr 1fr;
    justify-items: start;
    text-align: left;
    padding-left: 5em;
  }

  .createPlanHeroText {
    grid-column: 1/2;
  }

  .createPlanHeroTitle {
    font-size: var(--xxl-font-size);
  }
}
/* Big desktop (4k) */
@media only screen and (min-width: 1800px) {
}
