.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
}

.orderModal {
  position: fixed;
  top: 0;
  background-color: var(--lightCream);
  color: var(--Grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5em;
  border-radius: 10px;
}

.orderModalTitle {
  width: 100%;
  background-color: var(--darkGreyBlue);
  color: var(--lightCream);
  padding: 1em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 1.75rem;
}

.orderModalSummary {
  font-family: var(--title-font);
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 40px;
}

.orderModalSummaryWrapper {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2.5em 1.5em 1.5em 1.5em;
}

.orderModalSpan {
  color: var(--darkCyan);
}
