.formInputGroup {
  display: grid;
  grid-template-columns: minmax(1fr, 500px);
  gap: 2em;
  justify-content: center;
}

.formControl {
  display: grid;
  grid-template-rows: auto;
  gap: 1em;
}

.formControl > input {
  padding: 0.5em;
  border-radius: var(--border-px);
  outline: transparent;
  border: 1px solid var(--Grey);
  display: block;
}

.formControllnvalid {
  color: red;
}

.errorText {
  color: red;
}

.submitFormButton {
  text-align: center;
  margin: 3em;
}

/* Tablet portrait and larger */
@media only screen and (min-width: 600px) {
  .formInputGroup {
    grid-template-columns: minmax(0, 450px) minmax(0, 450px);
  }

  .formDescription {
    grid-column: 1/3;
  }
}
/* Tablet landscape and larger */
@media only screen and (min-width: 900px) {
}
/* Desktop and larger */
@media only screen and (min-width: 1200px) {
}
/* Big desktop (4k) */
@media only screen and (min-width: 1800px) {
}
