.formInputGroup {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
  justify-content: center;
}

.formControl {
  display: grid;
  flex-direction: column;
  gap: 1em;
}

.formControl > input {
  padding: 0.5em;
  border-radius: var(--border-px);
  outline: transparent;
  border: 1px solid var(--Grey);
}

.formControlnvalid {
  color: red;
}

.errorText {
  color: red;
}

.submitFormButton {
  text-align: center;
  margin: 3em;
}

/* Tablet portrait and larger */
@media only screen and (min-width: 600px) {
}
/* Tablet landscape and larger */
@media only screen and (min-width: 900px) {
}
/* Desktop and larger */
@media only screen and (min-width: 1200px) {
}
/* Big desktop (4k) */
@media only screen and (min-width: 1800px) {
}
