.footer {
  background-color: var(--darkBlue);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
  gap: 6em;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

.footerLinks {
  color: var(--Grey);
  text-transform: uppercase;
}

.footerLinks:hover {
  color: var(--lightCream);
}

.socialLinksContainer {
  display: flex;
  gap: 1.5em;
}

/* Tablet portrait and larger */
@media only screen and (min-width: 600px) {
  .footer {
    gap: 2em;
  }

  .linksContainer {
    flex-direction: row;
  }

  .socialLinksContainer {
    margin-top: 3em;
  }
}
/* Tablet landscape and larger */
@media only screen and (min-width: 900px) {
}
/* Desktop and larger */
@media only screen and (min-width: 1200px) {
  .footer {
    flex-direction: row;
    padding: 3em 10em;
  }

  .linksContainer {
    flex-direction: row;
  }

  .socialLinksContainer {
    margin-left: auto;
    margin-top: 0;
  }
}
/* Big desktop (4k) */
@media only screen and (min-width: 1800px) {
}
